/* Antonello's code. Git-Hub: antoinde */

/* ***********GENERICS************ */

/*reset style css*/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background-color: grey;
}

/* ***********UTILITIES************ */

/* ***********CONTENT************ */
.container {
  max-width: 576px;
  margin: 70px auto;
  border: 5px solid black;

}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color:darkslateblue;
  border-bottom: 5px solid black;
}
.header .left {
  font-size: 50px;
  font-weight: 600;
}
.header .right {
  margin: auto 0;
}
.header .right button{
  height: 50px;
  padding: 10px;
  font-weight: 900;
  border: 5px solid black;
}
.header .right button:hover {
  cursor: pointer;
  transition: 600ms;
  transform: scale(110%)
}
.header .right button:active {
  transition: 100ms;
  filter: brightness(50%);
}
.content {
  background-image: url(https://t3.ftcdn.net/jpg/00/88/98/18/360_F_88981880_YjJManMJ6hJmKr5CZteFJAkEzXIh8mxW.jpg);
  height: 400px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer {
  padding: 10px;
  border-top: 5px solid black;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.footer .left a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.square {
  width: calc(100% / 10 - 9px); /* 9px is pixel correction */
  height:calc(100% / 10 - 9px); /* 9px is pixel correction */
  background-color: rgb(189 189 189);
  border-top: 3px solid rgb(255 255 255);
  border-left: 3px solid rgb(255 255 255);
  border-bottom: 3px solid rgb(123 123 123);
  border-right: 3px solid rgb(123 123 123);
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square:hover {
  filter: brightness(0.6);
}
.pari {
  background-color: #57d3ff;
}
.dispari {
  background-color: #337768;
}
.content2 {
  background-color: #3e5e6d;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}